<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Midi2Macro 1.0.1</title>
  </head>
  <body>
    <div style="width: 100vw; height: 100vh" id="root"></div>
  </body>
</html>
